*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}


header {
  width: 100%;
  height: 80px;
  background-color: #11101b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  color: #FEFEFE;
}
a{
  color:#fefefe
}
.hamberger{
  display:none;
}
.nav-bar ul{
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: #FEFEFE;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background-color: #FEFEFE;
}

.nav-bar ul li a.active {
  color: #11101b;
  background-color: #FEFEFE;
}

@media only screen and (max-width:1320px){
  header{
      padding: 0 50px;
  }
} 

@media only screen and (max-width:1100px){
  header{
      padding: 0 30px;
  }
}

@media only screen and (max-width:900px){
  .hamberger {
      display: block;
      cursor: pointer;
  }
  .hamberger .line {
      width:30px;
      height: 3px;
      background: #fefefe;
      margin:6px 0;
  }
  .nav-bar {
      height: 0px;
      position: absolute;
      top:80px;
      left:0;
      right:0;
      width:100vw;
      background-color:#11101b;
      transition: 0.5s;
      overflow: hidden;
  }
  .nav-bar.active {
       height: auto;
       padding-bottom: 50px;
  }
  .nav-bar ul {
      display: block;
      width:fit-content;
      margin: 30px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  }

  .nav-bar.active ul{
      opacity: 1;
  }
  .nav-bar ul li a {
      margin-bottom: 12px;
  } 
}
#about > h1 {
  width: 50%;

  margin: auto;
  padding: 15px;
}
#about > #sze {
  width: 60%;
  margin-left: 15%;
  text-align: center;
}
#size {
  text-align: center;
}
#about > div {
  text-align: center;
}
#about > p {
  width: 50%;
  margin: auto;
  padding: 50px;
  font-family: sans-serif;
}
#log {
  text-decoration: none;
  color: white;
}
#navbar ul {
  display: inline-flex;
  list-style: none;
}
#navbar h1 {
  color: white;
}
#navbar h1:nth-child(2) {
  padding-left: 200px;
}
#navbar ul a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  padding: 0px 20px;
}
#name {
  margin-top: 90px;
  text-align: left;
  padding: 8px;
  color: white;
  background-color: black;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 90%;
}
.container {
  width: 90%;
  height: auto;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  padding-bottom: 50px;
}
.container > div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container > div > img {
  width: 100%;
}
.container > div > h3 {
  width: 80%;
  margin: auto;
}
.container > div > button {
  border: none;
  background: green;
  color: black;
  font-size: 10px;
  padding: 15px 50px;
  margin-bottom: 50px;
}
.container > div > button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: white;
}
.home-page-6 {
  width: 60%;
  height: 60px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home-page-6 > div {
  width: 100%;
  height: 50px;

  display: flex;
}
.home-page-6 > div:nth-child(1) {
  border-right: 2px solid grey;
}
.home-page-6 > div > div {
  padding-top: 10px;
}
.home-page-6 > div:nth-child(1) > div > img {
  width: 25%;
}
.home-page-6 > div:nth-child(1) > div > img:hover {
  width: 27%;
}
.home-page-6 > div:nth-child(2) > div > img {
  width: 60%;
}
.mainfooter {
  background: lightgrey;
}
.footer {
  width: 90%;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.footer > div > ul li {
  list-style: none;

  margin-left: -25px;
  padding: 5px;
}
.footer > div > ul li a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 16px;

  font-family: Verdana, sans-serif;
}
.footer > div > ul li a:hover {
  color: lightslategray;
}
#service1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#service1 > h3:nth-child(1) {
  border-right: 2px solid grey;
}
#footer2 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(114, 114, 111);
  text-align: center;
}
#footer2 > div > p {
  padding-left: 100px;
}
#footer2 > div:nth-child(2) {
  padding-right: 100px;
  padding-top: 1%;
}
#footer2 > div > button {
  border: none;

  background-color: rgb(114, 114, 111);
}
#footer2 > div > button:hover {
  color: lightgray;
}
#footer2 > div > button:nth-child(1),
#footer2 > div > button:nth-child(2) {
  border-right: 2px solid black;
}
.class {
  margin-top: 100px;
}
.ad {
  display: flex;
}
form {
  width: 70%;
  margin: auto;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 50px;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
.ad > div:nth-child(1) {
  width: 60%;
}
label {
  padding: 10px;
  font-size: 30px;
  font-family: sans-serif;
}
input[type="email"],
input[type="text"],
input[type="number"],
textarea {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 10px;
  border: 2px solid rgb(56, 83, 99);
  margin: 10px;
  border-radius: 5px;
}

input[type="submit"] {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  padding: 15px 30px;
  margin-left: 25%;
  border: 2px solid rgb(56, 83, 99);
  border-radius: 4px;
  color: white;
  background-color: green;
  border: none;
}
input[type="submit"]:hover {
  color: white;
  background-color: black;
}
